@charset "UTF-8";
/**/
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0A0A0A;
	margin: 0;
	padding: 0;
}

#container
{
	padding: 10 20 10 20;
	text-align: center;
	width: 95%;
	margin: 0 auto;
}


/*style top bar*/
#title
{
	font-family: Impact, Charcoal, sans-serif;
	font-size: 4em;
	margin: 0;
}


/*style main quote section*/
#maindiv {
	margin: 0 auto;
	padding: 10px;
	width: 80%;
	height: 75%;
	background-color: #efefef;
	margin-top: 20px;
}

#maindiv  img{
	width: 80%;

}
#maindiv  p{
	font-size: 1.5em;
}

#maindiv  h2{
	font-size: 1em;
}


/*style generate new quote button*/
input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 

    -webkit-transition: all 2s;
    transition: all .5s;
}

input[type=submit]:hover { 
    background:#7D7D7D; 
}

#newQuote
{
	margin-top: 20px; 
	clear: both;
}

@media (min-width: 875px) { 
	#maindiv  img
	{
		width: 60%;
	}

	#title
	{
		font-size: 5em;
	}
}

@media (min-width: 1250px) { 
	#maindiv  img
	{
		width: 50%;
	}
}
